* {
  box-sizing: border-box;
  font-family:sans-serif;
}

/* HEADING */
#header-nav{
	padding: 10px;
	background-color: #8E8E95;
	border-radius: 0;
    border: 2px solid #333;
    font-weight: bold;

}
 .navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1{
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a{
	color: #333;
}
.navbar-brand a:hover , .navbar-brand a:focus{
	color: #555;
	text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
	font-size: 1.8em;
  color: #333;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #ddd;
}

/* END OF HEADING */

/* main content*/
.row > h2 {
 line-height: 2;	
}

section{
	font-weight: bold;
    background-color: #8E8E95;
}
section > p{
	padding: 10px;
}



